:root {
    --crimson-50: #FFF7F7;
    --crimson-100: #FEECEC;
    --crimson-200: #FDD9D9;
    --crimson-300: #FABBBB;
    --crimson-400: #F3908F;
    --crimson-500: #E53935;
    --crimson-600: #D33430;
    --crimson-700: #C02F2C;
    --crimson-800: #AB2A27;
    --crimson-900: #952422;
}