:root {
    --crimson-50: #fff7f7;
    --crimson-100: #feecec;
    --crimson-200: #fdd9d9;
    --crimson-300: #fabbbb;
    --crimson-400: #f3908f;
    --crimson-500: #e53935;
    --crimson-600: #d33430;
    --crimson-700: #c02f2c;
    --crimson-800: #ab2a27;
    --crimson-900: #952422;
}

[data-theme="crimson"] {
    --primary: #e53935;
    --primary-rgb: 229, 57, 53;
    --primary-text: #c02f2c;
    --primary-text-rgb: 192, 47, 44;
    --primary-fill: #d33430;
    --primary-hover: #c02f2c;
    --primary-active: #ab2a27;
    --primary-contrast: #ffffff;
    --primary-edge: #e53935;
    --primary-soft: #feecec;
    --primary-softer: #fff7f7;
}

[data-theme="crimson"][data-mode="dark"] {
    --primary: #f3908f;
    --primary-rgb: 243, 144, 143;
    --primary-text: #fabbbb;
    --primary-text-rgb: 243, 144, 143;
    --primary-fill: #f3908f;
    --primary-hover: #fabbbb;
    --primary-active: #fdd9d9;
    --primary-contrast: #10141a;
    --primary-edge: #e53935;
    --primary-soft: #6c4144;
    --primary-softer: #4f3236;
}